

#Header {
  text-decoration: none;
  text-align: center;
  color: black;
  width: 100vw;
}

#Header1{
  font-weight: 900;
  letter-spacing: 10px;
  font-size: 1.5vw;
  padding-top: 40px;
  font-family: 'Papyrus';
}

#Header1:hover{
  color: #AFD5E8;
}