
.nav-link{
    color: black;
    font-size: larger;
    letter-spacing: 2px;
}

.nav-item{
    display: flex;
    border-right: 1px solid black;
    font-family: Papyrus;
}

#nav-item-last{
    border-right: none
}

@media only screen and (min-width: 992px) {
    .menuButton{
        display: none;
    }
}

