.backdrop{
    height : 100%;
    background: white;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    position : relative;
    overflow-y: scroll;
    top: 0;
    left: 0;
    width : 75vw;
    z-index: 200    ;
}

.backdrop ul{
    height : 100vh;
    list-style: none;
    justify-content: start;
}

.backdrop li{
    margin: 0.5rem 0;
    font-family: Papyrus;
}