body {
  margin: auto;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face{
  src: url(fonts/Mom«t___.ttf);
  font-family: "moms typewriter";
}

@font-face{
  src: url(fonts/adobe-caslon-pro/ACaslonPro-Regular.otf);
  font-family : "adobe-caslon-pro"
}

@font-face{
  src: url(fonts/papyrus/PAPYRUS.TTF);
  font-family: "Papyrus";
}